/* input{
    border: 1px solid black;
    padding:  5px 20px 10px 35px;
    border-radius: 5px;
    outline: none;
    letter-spacing: 1px;
    font-weight: 600;
}

.inp-lab{
    display: flex ;
    justify-content: space-between;
    gap: 0px 2rem;
} */